In [1]:
%run init.ipynb

In [2]:
sr = getTimeSeries();
sr

01.03.2018                         Name  Age          Nation...
04.09.2017                         Name  Age          Nation...
02.03.2017                         Name  Age          Nation...
01.09.2016                         Name  Age          Nation...
03.03.2016                         Name  Age          Nation...
01.09.2015                             Name  Age          Na...
06.03.2015                         Name  Age          Nation...
05.09.2014                         Name  Age          Nation...
dtype: object

Calculating team balance. Team receives player's value for every player that moved to another team(not retired - still exists in the database), and team loses player's value, if they bought him from other club(it was previously in the database).

In [3]:
clubs = set.intersection(*(set(data['Club'].unique()) for data in sr))
clubBalance = pd.Series(0, index=clubs);

for newData, oldData in reversed([*zip(sr, sr[1:])]):
    oldClubs = oldData.groupby('Club').apply(lambda players: set(players.index));
    newClubs = newData.groupby('Club').apply(lambda players: set(players.index));
    startingPlayers = set(newData.index) - set(oldData.index);
    retiredPlayers = set(oldData.index) - set(newData.index);
    for club in clubs:
        playersBought = newClubs[club] - oldClubs[club] - startingPlayers;
        playersSold = oldClubs[club] - newClubs[club] - retiredPlayers;
        clubBalance[club] -= sum([newData.loc[player, 'Value'] for player in playersBought]);
        clubBalance[club] += sum([newData.loc[player, 'Value'] for player in playersSold]);
clubProfits = clubBalance.sort_values(ascending=False);
pd.DataFrame(clubProfits).reset_index()

                         index          0
0                    AS Monaco  153475000
1                   SL Benfica  121050000
2                   LOSC Lille  108145000
3                         Ajax  107965000
4                   Fiorentina  105180000
5           Olympique Lyonnais   96680000
6            Borussia Dortmund   94135000
7              1. FSV Mainz 05   92950000
8                       Empoli   91965000
9               Real Madrid CF   88160000
10                  Sevilla FC   79960000
11                     Palermo   78020000
12                   FC Twente   74860000
13            Stade Rennais FC   72845000
14            RC Celta de Vigo   72780000
15                         PSV   68125000
16           Vitória Guimarães   61650000
17                    Atalanta   60405000
18             Vitória Setúbal   59865000
19                 Southampton   58560000
20                 CS Marítimo   52825000
21            Shakhtar Donetsk   52050000
22                  FC Lorient   50655000
23      Montpellier Hérault SC   50570000
24                    SC Braga   49945000
25                     Vitesse   47980000
26                  Rio Ave FC   47950000
27                   FC Rostov   45990000
28               VfB Stuttgart   44180000
29               Estoril Praia   41250000
..                         ...        ...
393                  Girona CF  -41670000
394       Zenit St. Petersburg  -42145000
395                Bournemouth  -42280000
396                 Stoke City  -42815000
397                  Monterrey  -43825000
398       West Bromwich Albion  -44230000
399                  LA Galaxy  -48565000
400  RC Deportivo de La Coruña  -50300000
401        Sheffield Wednesday  -50350000
402             Spartak Moscow  -50925000
403                 1. FC Köln  -51430000
404          Huddersfield Town  -56270000
405                    Everton  -58440000
406    Wolverhampton Wanderers  -58545000
407        Real Betis Balompié  -62500000
408                    Arsenal  -70605000
409                 Levante UD  -75175000
410     Brighton & Hove Albion  -76500000
411                   Juventus  -81225000
412           Deportivo Alavés  -84515000
413            West Ham United  -91235000
414                      Inter  -96075000
415                      Milan -101630000
416             Crystal Palace -103305000
417                    Chelsea -141105000
418           FC Bayern Munich -142780000
419                    Watford -143695000
420        Paris Saint-Germain -167705000
421            Manchester City -185325000
422          Manchester United -240085000

[423 rows x 2 columns]

As this kind of data is not public, we can only compare it, for example to [this](https://football24.ua/shahtar_n467664/) urkainian article([google translated](https://translate.google.com.ua/translate?sl=uk&tl=en&js=y&prev=_t&hl=uk&ie=UTF-8&u=https%3A%2F%2Ffootball24.ua%2Fshahtar_n467664%2F&edit-text=&act=url)). First two clubs are the same. Others are in the similar spots. This article describes recent changes, that are not counted int this analisys.

Amounts are almost half of suggested bu the article, because, price of the players is set ususaly higher than his value.

As we can see, popular clubs are mostly in the bottom, because, they spen a lot of money on the best players. Joining this analysis with an average team ratings, we can determine clubs, which bring up good players to be succesfull, not just buy them.

In [4]:
clubMean = df.groupby('Club')['Overall'].mean();
clubMean = clubMean[clubs];
normMean = (clubMean - clubMean.mean()) / clubMean.std();
normMean = normMean - normMean.min() + 1e-5;
normBalance = (clubBalance - clubBalance.mean()) / clubBalance.std();
normBalance = normBalance - normBalance.min() + 1e-5;
clubProfitOverall = normMean * normBalance;
clubProfitOverall.sort_values(ascending=False)

Club
Real Madrid CF             48.872432
SL Benfica                 41.898983
AS Monaco                  40.918965
Sevilla FC                 39.954105
Borussia Dortmund          39.110887
Ajax                       35.462815
FC Barcelona               34.639010
Roma                       33.416083
Sporting CP                33.156550
Shakhtar Donetsk           32.227639
1. FSV Mainz 05            31.434986
FC Schalke 04              31.118968
Fiorentina                 30.688327
Bayer 04 Leverkusen        30.186721
RC Celta de Vigo           29.483523
SC Braga                   29.428950
Athletic Club de Bilbao    29.420426
Olympique Lyonnais         29.174266
Napoli                     29.126981
PSV                        28.756098
Real Sociedad              28.545686
Southampton                28.327746
Torino                     27.984235
Liverpool                  27.829093
TSG 1899 Hoffenheim        27.801805
RCD Espanyol               27.701809
Atalanta                   27.261487
LOSC Lille                 27.193219
Villarreal CF              27.060315
Valencia CF                26.986618
                             ...
Shrewsbury                  6.608395
Wolfsberger AC              6.596363
Coventry City               6.543580
Port Vale                   6.404318
Fleetwood Town              6.150898
Newcastle Jets              6.109399
Al Fateh                    5.964582
Manchester City             5.879501
Crawley Town                5.705497
Yeovil Town                 5.621402
FC Thun                     5.318356
Blackpool                   5.132117
Dundalk                     5.073027
Newport County              4.904931
Swindon Town                4.799202
Carlisle United             4.635694
Exeter City                 4.468356
Motherwell                  3.971924
St. Patrick's Athletic      3.895079
Accrington Stanley          2.861479
Morecambe                   2.544615
Stevenage                   2.102808
Cork City                   1.813571
Shamrock Rovers             1.505979
Derry City                  1.151179
Crewe Alexandra             0.730064
Bray Wanderers              0.618929
Sligo Rovers                0.399954
Bohemian FC                 0.000066
Manchester United           0.000047
Length: 423, dtype: float64