In [1]:
%run init.ipynb

In [2]:
sr = getTimeSeries();
sr

01.03.2018                         Name  Age          Nation...
04.09.2017                         Name  Age          Nation...
02.03.2017                         Name  Age          Nation...
01.09.2016                         Name  Age          Nation...
03.03.2016                         Name  Age          Nation...
01.09.2015                             Name  Age          Na...
06.03.2015                         Name  Age          Nation...
05.09.2014                         Name  Age          Nation...
dtype: object

In [3]:
clubs = set.intersection(*(set(data['Club'].unique()) for data in sr))
clubBalance = pd.Series(0, index=clubs);

for newData, oldData in reversed([*zip(sr, sr[1:])]):
    oldClubs = oldData.groupby('Club').apply(lambda players: set(players.index));
    newClubs = newData.groupby('Club').apply(lambda players: set(players.index));
    startingPlayers = set(newData.index) - set(oldData.index);
    retiredPlayers = set(oldData.index) - set(newData.index);
    for club in clubs:
        playersBought = newClubs[club] - oldClubs[club] - startingPlayers;
        playersSold = oldClubs[club] - newClubs[club] - retiredPlayers;
        clubBalance[club] -= sum([newData.loc[player, 'Value'] for player in playersBought]);
        clubBalance[club] += sum([newData.loc[player, 'Value'] for player in playersSold]);
clubProfits = clubBalance.sort_values(ascending=False);
pd.DataFrame(clubProfits).reset_index()

                         index          0
0                    AS Monaco  153475000
1                   SL Benfica  121050000
2                   LOSC Lille  108145000
3                         Ajax  107965000
4                   Fiorentina  105180000
5           Olympique Lyonnais   96680000
6            Borussia Dortmund   94135000
7              1. FSV Mainz 05   92950000
8                       Empoli   91965000
9               Real Madrid CF   88160000
10                  Sevilla FC   79960000
11                     Palermo   78020000
12                   FC Twente   74860000
13            Stade Rennais FC   72845000
14            RC Celta de Vigo   72780000
15                         PSV   68125000
16           Vitória Guimarães   61650000
17                    Atalanta   60405000
18             Vitória Setúbal   59865000
19                 Southampton   58560000
20                 CS Marítimo   52825000
21            Shakhtar Donetsk   52050000
22                  FC Lorient   50655000
23      Montpellier Hérault SC   50570000
24                    SC Braga   49945000
25                     Vitesse   47980000
26                  Rio Ave FC   47950000
27                   FC Rostov   45990000
28               VfB Stuttgart   44180000
29               Estoril Praia   41250000
..                         ...        ...
393                  Girona CF  -41670000
394       Zenit St. Petersburg  -42145000
395                Bournemouth  -42280000
396                 Stoke City  -42815000
397                  Monterrey  -43825000
398       West Bromwich Albion  -44230000
399                  LA Galaxy  -48565000
400  RC Deportivo de La Coruña  -50300000
401        Sheffield Wednesday  -50350000
402             Spartak Moscow  -50925000
403                 1. FC Köln  -51430000
404          Huddersfield Town  -56270000
405                    Everton  -58440000
406    Wolverhampton Wanderers  -58545000
407        Real Betis Balompié  -62500000
408                    Arsenal  -70605000
409                 Levante UD  -75175000
410     Brighton & Hove Albion  -76500000
411                   Juventus  -81225000
412           Deportivo Alavés  -84515000
413            West Ham United  -91235000
414                      Inter  -96075000
415                      Milan -101630000
416             Crystal Palace -103305000
417                    Chelsea -141105000
418           FC Bayern Munich -142780000
419                    Watford -143695000
420        Paris Saint-Germain -167705000
421            Manchester City -185325000
422          Manchester United -240085000

[423 rows x 2 columns]